.DS_Store

# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# production
build/

# local env files
.env*
!.env.example

# logs
*.log

# typescript
*.tsbuildinfo

# test artifacts
test-results/
playwright-report/
